

<form action='@Url.Action("GuardarIndumentaria", "Home")'>



<div> 
@{
    int i = 1;   
}
 @foreach (string equipo in ViewBag.ListaEquipos)
    {
        <tr>
            <td> @(i++) @equipo</td>
        </tr>
    }
@{
    i = 1;   
}
    <br><br>
    <label>Elegi un equipo:</label>
    <input type="number" name="Equipo" required min="1" max= @ViewBag.ListaEquipos.Count>
</div>
<br><br>
<div>

@foreach (string medias in ViewBag.ListaMedias)
    {
                
        <tr>
            
            <td>@(i++) <img src='/img/Medias/@medias' style="width 160" height="160"></td>
        </tr>
        
        
    }
@{
    i = 1;   
}
    <br>
    <input type="number" name="Media" required min="1" max= @ViewBag.ListaEquipos.Count >
</div>
<br><br>
<div>
@foreach (string pantalon in ViewBag.ListaPantalones)
    {
        <tr>
            <td>@(i++) <img src='/img/Pantalones/@pantalon' style="width 180" height="180"></td>
        </tr>
    }
@{
    i = 1;   
}
    <br>
    <input type="number" name="Pantalon" required min="1" max= @ViewBag.ListaEquipos.Count>
</div>
<br><br>
<div>
@foreach (string camisetas in ViewBag.ListaCamisetas)
    {
        <tr>
            <td>@(i++) <img src='/img/Camisetas/@camisetas' style="width 190" height="190"></td>
        </tr>
    }
     
    <br>
    <input type="number" name="Camiseta" required min="0" max= @ViewBag.ListaEquipos.Count>
</div>
<br><br>
<input type="submit" value="Crear Indumentaria">
</form>